<div class="d-flex justify-content-center">
  <h1>
    Blacklist
  </h1>
</div>
<div class="Container" style="margin-left: 38%;margin-right: 38%;margin-top: 1%;">
    <button type="button" class="btn btn-outline-primary" style="margin-right: 20px;">Block New User</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 20px;">Unblock Selected</button>
</div>
<mat-nav-list  class="addNew">
    <mat-list-item role="listitem" style="height: 200px;">
      <mat-card >
        <mat-card-header>
          <div mat-card-avatar>
            <img src="./assets/images/user.png" alt="Avatar">
          </div>
          <div style="margin-left: 50px;">
            <mat-card-title>User Name</mat-card-title>
            <mat-card-subtitle>Email</mat-card-subtitle>  
          </div>
          <div>
          </div>
        </mat-card-header>
        <div mat-card-image>
        </div>
        <mat-card-content style="margin-left: 120px;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
            was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button >LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-list-item>
  </mat-nav-list>