mat-sidenav-content {
    height: 100vh;
  }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}