<div class="img">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="backClick()" routerLinkActive="active">Back</a>
  </div>
</nav>
<div class="py-2"></div>
<div class="card clr" style="width: auto; margin-left: 30%;margin-right: 30%;">
<div style="margin-left: 30%;margin-right: 30%; padding-top: 10px;">
  <h2 style="color: blue;">Register New Account</h2>
</div>
  <div class="card-body clr" style="padding-top: 20px;">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">First Name:</span>
          </div>
          <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Last Name:</span>
          </div>
          <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username:</span>
          </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password:</span>
          </div>
          <input type="text" class="form-control" placeholder="New Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email:</span>
          </div>
          <input type="text" class="form-control" placeholder="Your Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Phone Number:</span>
          </div>
          <input type="text" class="form-control" placeholder="Your Phone Number" aria-label="Phone Number" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Address:</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your full address" aria-label="Address" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Birth Date:</span>
          </div>
          <input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-label="First Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nationality</span>
          </div>
          <input type="text" class="form-control" placeholder="Your Nationality" aria-label="Nationality" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3" >
          <button type="button" class="btn btn-dark" style="margin-left: auto;margin-right: auto; width: 200px;" (click)="signupClick()">Signup</button>
      </div>
      <div class="input-group mb-3" >
        <p style="margin-left: auto;margin-right: auto; "><a (click)="logIn()" routerLinkActive="active">have account?</a></p>        
      </div>
      
  </div>
</div>
</div>
