<div class="container">
	<div class="row">
		<div class="col-lg col-sm">
            <div class="card hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                    <img alt="" src="./assets/images/user.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="">Trader Username</a>
                    </div>
                    <div class="row">
                    </div>
                    <div class="desc">Store name</div>
                    <div class="alert alert-warning" role="alert">
                        This Account is Pending
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Trader Information</h2>
            <hr/>
        </div>
    </div>
    <mat-grid-list cols="4" rowHeight="30px">
        <mat-grid-tile>
            <div class="row"> 
                <div class="col-md col-sm">
                    <p class="fw-bolder">Trader Name:</p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="col-md col-sm">
                <p class="fw-light">Username</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>