<div class="container">
	<div class="row">
		<div class="col-lg col-sm">
            <div class="card hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                    <img alt="" src="./assets/images/user.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="">Trader Username</a>
                    </div>
                    <div class="row">
                    </div>
                    <div class="desc">Store name</div>
                    <div class="alert alert-warning" role="alert">
                        This Account is Pending
                    </div>
                </div>
            </div>
        </div>
    </div>

            <h2 class="p">Trader Information</h2>
            <hr/>

    <div class="container">
        <div class="child">
                <div class="col-md-12 my-border">
                    <div class="row center"> 
                        <div class="col-xs-2 col-md-2 col-lg-3">
                            <p class="fw-bolder" style="font-weight: bold;">Trader FirstName:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">Oday</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light" style="font-weight: bold;">Trader LastName:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">Amer</p>
                        </div>  
                    </div> 
                    <div class="row center"> 
                        <div class="col-xs-2 col-md-2 col-lg-3">
                            <p class="fw-bolder" style="font-weight: bold;">Address:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">Damascuse, Mazzeh</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light" style="font-weight: bold;">Email:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">test@gmail.com</p>
                        </div>  
                    </div> 
                    <div class="row center"> 
                        <div class="col-xs-2 col-md-2 col-lg-3">
                            <p class="fw-bolder" style="font-weight: bold;">Username:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">OdayAm</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light" style="font-weight: bold;">Nationality:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">Syrian</p>
                        </div>  
                    </div>
                    <div class="row center"> 
                        <div class="col-xs-2 col-md-2 col-lg-3">
                            <p class="fw-bolder" style="font-weight: bold;">Birthdate:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">20-1-1998</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light" style="font-weight: bold;">Subscription Type:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">6 Month</p>
                        </div>  
                    </div>
                    <div class="row center"> 
                        <div class="col-xs-2 col-md-2 col-lg-3">
                            <p class="fw-bolder" style="font-weight: bold;">Phone Number:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">+963945222222</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light" style="font-weight: bold;">Credit Card Number:</p>
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <p class="fw-light">222-222222-22</p>
                        </div>  
                    </div>
                </div>
        </div>
    </div>
</div>